<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.DataGrid2D" version="0.2.3" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net48" />
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.Controls" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="7.0.20077.3520" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="7.0.20077.3520" targetFramework="net48" />
</packages>